/*Stylesheet for landing page */

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    justify-content: space-between;
}

.top, 
.footer {
   background-color: #1F2937; 
   flex: 1;
}

.top {
    padding: 0 300px 100px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.hero-text {
    flex: 1;
    flex-wrap: wrap;
    max-width: 500px;
    margin-right: 100px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 0;
}

.hero-sec-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.hero-pic {
    justify-content: center;
}

.image-placeholder {
    background-color: gray;
    display: flex;
    width: 500px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 18px;
    padding: 6px 34px;
    border-radius: 8px;
    color: white;
    background-color: #3882F6;
    border: 1px solid #3882F6;
}

.gallery {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 10px 50px;
}

.gallery h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    justify-content: center;
    align-items: center;
}

.card div{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.card p {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote-signature {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
    padding-right: 50px;
}

.signup {
    flex: 1;
}